@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&display=swap');
img {
    position: relative;
}

.WHITE WATER RAFTING{
    position: absolute;
    top:50% ;
    left: 50%;
    transform: translate();
    text-align: center;
    color: #000;
    font-size: 24px;
    font-weight: bold;
}

:root {
  --primary-color: #03A9F4;
  --secondary-color: #8BC34A;
  --accent-color: #FFC107;
  --background-color: #F7F7F7;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 30;
  padding: 50;
  max-width: 120px; /* Limit the entire width of the page */
  margin: 40 auto; /* Center the page */
}

h1, h2, h3, h4, h5, h6 {
  color: var(blue);
}

p {
  color: var(orange);
}

a {
  text-decoration: none; /* Remove underlines from social media links */
}

.social-media-links {
  color: var(--accent-color);
}

.social-media-links:hover {
  color: var(--primary-color);
}